export __TOML__PROJ_NAME='"test"'
export __TOML__DESCRIPTION='"describe the project"'
export __TOML__PYVERSION=3.12
export __TOML__KEYWORDS='[
	"keyword1",
	"keyword2"
]'
export __TOML__DEPENDENCIES='[
	"dependency1",
	"dependency2",
	"dependency3"
]'

# list of possible classifiers: https://pypi.org/classifiers/
export __TOML__CLASSIFIERS='[
	"Development Status :: 2 - Pre-Alpha",
	"Intended Audience :: Developers",
	"Topic :: Software Development :: Libraries",
	"License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
	"Programming Langauge :: Python :: 3.12",
]'
